/* Forgot Password Container */
.forgotpassword-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Heading */
.forgotpassword-container h3{
  text-align: center;
}

/* Text Input Fields */
.forgotpassword-container input[type="email"],
.forgotpassword-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Change Password Button */
.forgotpassword-container button {
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgotpassword-container button:hover {
  background-color: #3367d6;
}

/* Back to Sign In Link */
.forgotpassword-container a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #4285f4;
  text-decoration: none;
}

.forgotpassword-container a:hover {
  text-decoration: underline;
}
